body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.nav {
    height: 56px;
    background: #343A40;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 16px;
}

.logo {
    font-size: 20px;
    line-height: 23px;
    float: left;
    padding-right: 24px;
}

h1 {
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    color: #212529;
}

.nav p {
    padding-right: 16px;
}

.header {
    height: 342px;
    background: #E9ECEF;
    padding-top: 64px;
    padding-left: 55px;
}

.card {
    margin-top: 32px;
}

.card-header {
    padding: 16px 0 13px 20px;
}

.footer {
    background: #F5F5F5;
    height: 51px;
    padding: 16px 55px;
}

.pd {
    padding-left: 55px;
}
